.messages {
  width: 100%;
  height: 80%;
  padding: 1rem;
  padding-left: 2rem;
  background: linear-gradient(
    rgb(179, 168, 177),
    rgb(204, 192, 202),
    rgb(179, 168, 177)
  );
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.messages::-webkit-scrollbar {
  display: none;
}
.messages .message {
  width: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;

  margin-bottom: 0.5rem;
  padding: 0.1rem;
  border-radius: 0.5rem;

  /* flex-direction: row-reverse; */
}

.messages .message img {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  left: -1.5rem;
  top: -0.4rem;
}

.messages .message .messageInfo {
  display: flex;
  margin-right: 1.5rem;
  /* flex-direction: row-reverse; */
}
.messages .message .messageInfo .nameAndMessage .name {
  font-size: smaller;
  font-weight: 800;
}
.messages .message .messageInfo .nameAndMessage .message {
  font-size: small;
  font-weight: 500;
}
.messages .message .time {
  position: absolute;
  font-size: x-small;
  right: 0.1rem;
  bottom: -0.2rem;
}
/* .personal {
} */
.personalFlexEnd {
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 0;
}
.leftConvo {
  display: block;
  border: 1px solid red;
}
.margin {
  margin-left: 1rem;
}
