.info {
  width: 100%;
  height: 10%;
}
.conversation {
  width: 100%;
  height: 85%;
}

.conversationInfo {
  width: 100%;
  height: 10%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(224, 216, 216);
}
.conversationInfo {
  height: 100%;
  background-color: rgb(179, 168, 177);
}

.conversationInfo img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.5rem;
}

.conversationInfo .conversationDetails {
  width: 70%;
  display: flex;
  align-items: center;
}
.conversationInfo .conversationDetails button {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}
.conversationInfo button {
  background-color: rgb(100, 79, 97);
  color: white;
  border-radius: 1rem;
  padding: 0.3rem;
  border: none;
  cursor: pointer;
}
.backButton {
  cursor: pointer;
  border: none;
}
