.input {
  width: 100%;
  height: 10%;
  background-color: rgb(230, 226, 226);
}

.input textarea {
  margin-top: 1.5rem;
  width: 100%;
  height: 80%;
  border: none;
  outline: none;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  border: 1px solid rgb(224, 216, 216);
  border-radius: 2rem;
  resize: none;
  bottom: 0;
}
.input textarea::-webkit-scrollbar {
  display: none;
}
.input button {
  margin-top: 1.3rem;
  border: none;
  background-color: transparent;
  margin-left: -1.5rem;
  cursor: pointer;
}
.input button:hover {
  color: rgb(82, 209, 23);
}
.input .message {
  display: flex;
}
