.action {
  width: 100%;
  height: 10%;
  border-bottom: 1px solid rgb(224, 216, 216);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: rgb(179, 168, 177);
}

.action img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.action button {
  width: 20%;
  color: white;
  border-radius: 1rem;
  cursor: pointer;
  background-color: rgb(100, 79, 97);
}
.action .groupImage {
  width: 20%;
  background-color: rgb(100, 79, 97);
  font-size: small;
  text-align: center;
  color: white;
  border-start-end-radius: 50%;
  border-bottom-left-radius: 50%;
  transform: rotate(-20deg);
  cursor: pointer;
}
.action .groupImage input {
  width: 100%;
  height: 100%;
  z-index: 100;
}
.none {
  display: none;
}
