.loginContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.login {
  width: 10rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
}

.login input {
  margin-bottom: 0.5rem;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid black;
}

.login button {
  width: 3rem;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
}
